{% block attribution %}
    <div class="row"><div class="col-12">Final Curtain is open <a href="https://github.com/ewencluley/final-curtain">source</a> </div></div>
    <div class="row"><div class="col-12">Data from <a href="https://www.themoviedb.org/"><img src="/static/img/tmdb.svg" alt="The Movie Database" height=20></a> </div></div>
    <div class="row"><div class="col-12">Icons by <a href="https://smashicons.com/" title="Smashicons">Smashicons</a>, <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>, <a href="" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></div>
{% endblock %}