{% extends 'base.html' %}

{% block content %}
<form class="mt-3" id="searchForm" action="search" method="get">
    <div class="mb-3">
        <label for="search" class="form-label">Search</label>
        <input type="search" class="form-control" id="search" aria-describedby="searchHelp" name="q">
        <div id="searchHelp" class="form-text">Find films, shows, actors or characters.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<ol id="results" class="list-group mt-3">

</ol>
{% endblock %}
